<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings  file="..\..\..\..\..\..\Private-ReportingTool.config">
    <add key="AzureDevOps.PAT" value="#_Your_PAT_#"/>
    <add key="AzureDevOps.URL" value="#_Your_Azure_DevOps_URL_#"/>
    <add key="AzureDevOps.Collections" value="#_Your_SemiColonSeparated_Collections_Or_OrganisationName_#"/>
  </appSettings>
</configuration>