[*.cs]

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

#SA1601 : Partial elements should be documented
dotnet_diagnostic.SA1601.severity = none